.mainContainer {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Three columns, each taking equal space */
  gap: 20px; /* Add spacing between grid items */
  /* background: #000; */
  padding: 20px;
  justify-items: center;
}
.container {
  background: burlywood;
  width: 500px;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
}
.title {
  text-align: center;
}
